<h1>Filler text</h1>

{{test-component}}

Here are some links that route the URL

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
